<?xml version="1.0" encoding="UTF-8"?>  
<configuration scan="true" scanPeriod="30 seconds" debug="false">  
	<property name="logRoot" value="E:/weibopay/workspaceqj/mgs-test/logs" />   

	<!-- appender -->  
	<appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8" />
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder charset="UTF-8" />
		<file>${logRoot}/default.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logRoot}/default.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="GATEWAY-TEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder charset="UTF-8" />
		<file>${logRoot}/mgs-test.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logRoot}/mgs-test.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder charset="UTF-8" />
		<file>${logRoot}/error.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">   
			<level>ERROR</level>   
			<onMatch>ACCEPT</onMatch>   
			<onMismatch>DENY</onMismatch>   
		</filter> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logRoot}/error.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<!-- logger -->  
	<logger name="com.netfinworks.member.gateway" additivity="false">
		<level value="debug" />
		<appender-ref ref="GATEWAY-TEST-APPENDER" />
		<appender-ref ref="ERROR-APPENDER" />
	</logger>
	
	
	<!-- root -->  
	<root level="info">  
		<appender-ref ref="CONSOLE-APPENDER" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="ERROR-APPENDER" />  
	</root>
</configuration>  